<section>
    <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
            <div class="bg-gray-100 p-8 md:p-12 lg:px-16 lg:py-24 rounded-xl">
                <div class="mx-auto max-w-xl text-center">
                    <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
                        Damos vida a tus ideas con empaques que enamoran
                    </h2>

                    <p class="hidden text-gray-700 sm:mt-4 sm:block">
                        Descripción: Descubre cómo creamos con dedicación cada empaque.
                        Cuidamos cada detalle de nuestro proceso para ofrecerte calidad,
                        resistencia y la confianza que tu marca merece
                    </p>

                    <div class="mt-4 md:mt-8">
                        <a (click)="irASolicitarCotizacion()"
                            class="inline-block cursor-pointer rounded-sm border border-fuchsia-600 bg-fuchsia-600 px-12 py-3 text-sm font-medium text-white transition-colors hover:bg-transparent hover:text-fuchsia-600">
                            Solicitar cotización
                        </a>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
                <video #video1 autoplay loop muted playsinline
                    class="h-40 w-full object-cover sm:h-56 md:h-full rounded-xl">
                    <source src="assets/videos/video1.mp4" type="video/mp4" />
                </video>

                <video #video2 autoplay loop muted playsinline
                    class="h-40 w-full object-cover sm:h-56 md:h-full rounded-xl">
                    <source src="assets/videos/video2.mp4" type="video/mp4" />
                </video>
                <script>
                    document.getElementById('video1').muted = true;
                    document.getElementById('video2').muted = true;
                </script>
            </div>
        </div>
    </div>
</section>