<p-carousel [value]="banners()" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000"
    [responsiveOptions]="responsiveOptions" styleClass="hero-carousel">
    <ng-template let-banner pTemplate="item">
        <div class="hero-slide">
            <img [src]="banner.imagen" [alt]="banner.titulo" class="hero-img" />
            <div class="hero-overlay">
                <h2 class="hero-title">{{ banner.titulo }}</h2>
                <p class="hero-desc">{{ banner.descripcion }}</p>
            </div>
        </div>
    </ng-template>
</p-carousel>