<div class="w-full flex flex-col gap-6 mb-5">
    <div class="w-full">
    <p-card class="w-full pl-32">
        <ng-template #header>
            <div class="px-6 pt-5">
                <h1 class="font-bold text-xl m-0">Contacto</h1>
            </div>
        </ng-template>
        <p class="m-0">
            Escribanos por los canales oficiales de Empaques DESA.
        </p>
        <ng-template #footer>
            <div>
                <span class="text-sm text-surface-500 dark:text-surface-400">
                    Somos fabricantes directos de nuestros productos.
                </span>
            </div>
        </ng-template>
    </p-card>
</div>

    <div class="w-full">
        <p-card class="w-full" header="Starter Plan" subheader="For personal projects">

            <p class="m-0">
                Includes essential features, basic analytics and access to community support.
            </p>

            <ng-template #footer>
                <span class="text-sm text-surface-500 dark:text-surface-400">
                    Cancel anytime. No credit card required.
                </span>
            </ng-template>

        </p-card>
    </div>

</div>